.Call-Icon{
    display: flex;
    position: fixed;
    border: 2px solid white;
    border-radius: 100%;
    font-size: 45px;
    padding: 8px;
    box-shadow: 0px 0px 5px #624c4c;
    margin-top: 60vh;
    margin-left: 84vw; 
    background-color: #25D366;
}


.Call-Icon svg{
    display: block;
}