*{
    margin: 0;
    padding: 0;
}

.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}

.item{
    margin: auto;
}

.item img, svg{
    display: flex;
    float: left;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10%;
    width: fit-content;
}

.item p{
    width: 70%;
    margin-left: 20%;
    text-align: start;
}

.copyright{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}

.footerContactHeading{
    padding: 20px 0px;
    text-decoration: underline;
}

.footerAboutParagraph{
    width: 90%;
    margin: auto;
}

.aboutReadMoreBtn{
    text-decoration: none;
}

.map{
    overflow: hidden;
    position: relative;
    /* height: 10%; */
    padding-bottom: 30%;
}

.map iframe{ 
    border: 0;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.item p a{
    color: white;
}